<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #40407a">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><strong style="font-size: 35px;"> BETH ART CANDY!!!</strong></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>         

                <li class="nav-item">
                    <a class="nav-link" routerLink="/produtos">Produtos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/fotos">Fotos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/formulario">Solicite o orçamento</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/contatos">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="subtitulo" style="box-shadow:  0 0 1em;"><P>Doces Personalizados!!! Feitos Com Todo Amor e Carinho!!! Experimente!!!</P></div>