<nav class="fixed-top">
    <div class="subtitulo">
        <P>Doces Personalizados! Feitos Com Todo Amor e Carinho! Experimente!</P>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #a29bfe; ">
    <div class="container">
        <a class="navbar-brand" routerLink="/"> <strong style="font-size: 30px;"> BETH ART CANDY!!!</strong></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/produtos" routerLinkActive="active">Produtos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/fotos" routerLinkActive="active">Fotos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/formulario" routerLinkActive="active">Solicite o
                        orçamento</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/contatos" routerLinkActive="active">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>