<footer>
    <div class="container-fluid bg-grey py-3 ">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part ">
                            <img src=".\assets\logo\logo1.1.png" class="logo-footer">
                            <p style="text-align: center; font-size: 15px;">
                                Beth Art Candy
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> A EMPRESA</h6>
                        <p>Somos uma empresa de doces finos para sua festa, fundada em março de 2018.
                            Trabalhamos com variedades de doces. Todos são feitos com produtos de qualidade, de foma
                            artesanal com muito amor e carinho! De modo que sua festa fique muito atraente e gostosa.

                            Entre e confira todos os nossos produtos!</p>
                        <!--<a href="#" class="btn-footer"> Sobre nós </a><br>-->
                        <a routerLink="/contatos" class="btn-footer"> Contate-nos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 px-4">
                        <h6> PÁGINAS</h6>
                        <div class="row ">
                            <div class="col-md-4">
                                <ul>
                                    <li> <a routerLink="/"> Home</a> </li>
                                    <li> <a routerLink="/produtos"> Produtos</a> </li>
                                    <li> <a routerLink="/fotos"> Fotos</a> </li>
                                    <li> <a routerLink="/formulario"> Orçamento</a> </li>
                                    <li> <a routerLink="/contatos"> Contato</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6> PAGAMENTO </h6>
                        <div class="social">
                            <a href=""><img src="/assets/imgpag/Visa.svg" alt="Bootstrap" width="32" height="32"
                                    style="margin: 2px;"></a>
                            <a href=""><img src="/assets/imgpag/Mastercard.svg" alt="Bootstrap" width="32" height="32"
                                    style="margin: 2px;"></a>
                            <a href=""><img src="/assets/imgpag/pix.png" alt="Bootstrap" width="50" height=""
                                    style="margin: 2px;"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6> MÍDIAS SOCIAIS</h6>
                        <div class="social">
                            <a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                            <a routerLink="/contatos"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </div>
                        <form class="form-footer my-3">
                            <input type="text" placeholder="Pesquisar" name="search">
                            <input type="button" value="Ir">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; background-color: #a29bfe;">
        <p style="font-size: 15px; padding-bottom: -25px; color: #2d3436;">Site Produzido por: Guilherme Alves, Jean Pierre e
            Thyago Almeida- Corporation August 2021</p>

    </div>
</footer>