<app-header></app-header>
<!--- Inicio sessão Banner -->
<section class="banner-contact">
    <h2> Fotos dos Produtos</h2>
</section>

<div class="container">

    <div class="row">
        <div class="col-sm-4" *ngFor="let produto of produtosArray">
            <div class="card" style="width: 18rem; margin-top: 20px;">
                <img [src]="produto.endereco" class="card-img-top" alt="imagem " width="286" height="180">
                <div class="card-body">

                    <h5 class="card-title"><strong>Titulo: </strong>{{produto.titulo}}</h5>
                    <h5 class="card-title"><strong>Sabor: </strong>{{produto.sabor}}</h5>
                    <p class="card-text" style="text-align: justify;"><strong>Decrição: </strong>{{produto.descricao}}
                    </p>
                    <a [href]="produto.endereco" class="btn btn-outline-primary btn-block">Visitar</a>

                </div>
            </div>
        </div>