.start {
   margin-top: 30px;
   margin-bottom: 20px;
}

h3 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    
}

.img3 {
    
}

.img4 {
    
}

.card1 { 
    box-shadow: 0 0 1em; 
    width: 18rem;
    margin-top: 30px;
    text-justify: center;
    
}

img {
   height: 250px;
}

