<app-header></app-header>

<section class="banner-contact">
    <h2>Fotos Dos Nossos Produtos</h2>
</section>

<div class="start">

    <!-- linha 1 -->

    <section id="cake" class="h3">
        <H3>Cup Cake</H3>
    </section>

    <section class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img1" src=".\assets\imagem\IMG_20201205_123557_421.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img2" src=".\assets\imagem\IMG_20201213_154056_487.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img3" src=".\assets\imagem\IMG_20210123_200605_819.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20201220_075253_298.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20210201_180603_962.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20210207_162810_284.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20210221_104122_521.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG-20201111-WA0014.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20210207_162810_345.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20210227_173352_346.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20210501_204437_067.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top img4" src=".\assets\imagem\IMG_20210207_162810_360.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=""
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=""
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=""
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=""
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>



        </div>
    </section>


    <!--- Linha 2 -->
    <section id="pirulito" class="h3">
        <H3>Pirulito de Chocolate</H3>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201211_153940_296.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210131_180948_337.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210501_204148_784.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210501_204437_074.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20201115-WA0023.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20210201-WA0011.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201205_123435_284.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210201_180603_959.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!--- Linha 3 -->
    <section id="boloPalito" class="h3">
        <H3>Bolo no Palito</H3>
    </section>


    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20201220-WA0001.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201223_165402_331.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201223_165402_333.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201223_165100_363.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210227_173352_294.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210515_194432_796.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <!--- Linha 4 -->
    <section id="trufas" class="h3">
        <H3>Trufas em 3D</H3>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=""
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201213_162610_293.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201213_162610_294.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201213_162610_296.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201213_162610_297.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20201115-WA0026.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20201213-WA0016.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--- Linha 5-->
    <section id="cone" class="h3">
        <H3>Cone (Árvores)</H3>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210109_122657_272.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210501_204148_770.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210501_204148_751.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20201201-WA0029.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--- Linha 6 -->
    <section id="bombons" class="h3">
        <H3>Bombons</H3>
    </section>


    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210501_204437_002.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201205_123435_274.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20210119-WA0072.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201205_123246_636.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--- Linha 7 -->

    <section id="diversos" class="h3">
        <H3>Diversos</H3>
    </section>


    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201205_123435_282.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201205_135626_467.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210501_204148_836.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210501_204437_078.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20210117-WA0028.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20210119-WA0049.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20210501-WA0013.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201205_123246_644.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

             <!--- Linha 8 -->

            <section id="pao" class="h3">
                <H3>
                    Pão de Mel 3D
                </H3>
            </section>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210402_123532.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210402_123553.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210402_124225_742.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--- Linha 9 -->

    <section id="retrato" class="h3">
        <H3>
            Porta Retrato
        </H3>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src="" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <!--- Linha 10-->
    <section id="bolos" class="h3">
        <H3>Bolos</H3>
    </section>


    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20201113-WA0030.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20210130-WA0015_1.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210201_181114_459.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210221_104122_405.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20201212_172615_384.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210131_180132_506.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG_20210307_201211_957.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card1">
                    <img class="card-img-top" src=".\assets\imagem\IMG-20210116-WA0027.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o
                            conteúdo do card.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>