


.body-contact{  
  margin-top: 30px;
  margin-bottom: 30px;
}

.li{ text-align: center;}

form {
  margin-left: auto;
  margin-right: auto;
  width: 75em;
  color: #00cec9;
 
}
button{
  margin-bottom: 10px;
  margin-top: 10px;
}

.fa {
color:#fff;
font-size: 30px;
padding: 10px 15px;
background: #00cec9;
border-radius: 50%;
  }

#sugestion{
  background-color: #00cec9;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;  
  margin-top: 40px;
  width: 80em;
  border-radius: 30px;
  padding-top: 20px;
  box-shadow: 0 0 1em #a29bfe;
  
}
 