<app-header></app-header>

<!--- Inicio sessão Banner -->
<section class="banner-contact">
    <h2> Como você prefere falar com a gente? </h2>
</section>
<!--- Fim sessão Banner -->
<!--- Inicio sessão Contato -->
<section class="container body-contact">
    <div class="row">
        <div class="col-md-4 social li">
            <a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <h5>Facebook</h5>
            <p>Visite nossa página</p>
        </div>


        <div class="col-md-4 social li">
            <a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            <h5>Whatsapp</h5>
            <p>Envie sua Mensagem</p>
        </div>


        <div class="col-md-4 social li">
            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <h5>Instagram</h5>
            <p>Visite nossa página</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6 social li">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <h5>Telefone</h5>
            <p>Fale conosco</p>
            <p><strong>(21) 97508-4731 - Elizabeth</strong></p>
            <p><strong>(21) 99634-2348 - Jean Pierre </strong> </p>
        </div>

        <div class="col-md-6 social li">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h5>E-mail</h5>
            <p>Fale conosco</p>
            <p><strong>contato@bethartcandy.com.br - Elizabeth</strong></p>
            <p><strong>jeancosta012sophia@gmail.com - Jean Pierre</strong></p>
        </div>
    </div>
</section>
<!--- Fim sessão Contato -->
<!--- Inicio sessão Formulario Sugestão -->
<hr>
<section class="container  li ">
    <div id="sugestion">
        <h5>Deixe sua Opinião</h5>
        <form class="form-group">
            <input type="text" class="form-control" placeholder="Nome">
            <input type="email" class="form-control" placeholder="Email">
            <textarea type="text" cols="30" rows="5" class="form-control" placeholder="Mensagem"></textarea>
            <button type="submit" class="btn btn-secondary">Enviar</button>
        </form>
    </div>
    
  
</section>
