<app-headeradmin></app-headeradmin>
<div class="container" style="margin-top: 20px; ">
    <div class="row">
        <div class="col-sm-6" style="color: #40407a;">
            <h2>{{ titlePage }}</h2>
        </div>
      
    </div>
    <hr>
    <table class="table" style="box-shadow: 0 0 1em; text-align: center;">
        <thead style=" background-color: #40407a; color: #fff; ">
            <tr >                
                <th scope="col">Cliente:</th>
                <th scope="col">Contato:</th>               
                <th scope="col">Pedidos</th>
                <th scope="col">Açao:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedidos of pedidosAdmin let i = index; ">
                <!-- <th  *ngFor="let dados of pedidos.pedidos;  " >{{ dados.titulo }}</th>-->
                <td>{{ pedidos.nome }}</td>
                <td>{{ pedidos.celular }} / {{ pedidos.email }}</td>                
                <td>
                    <button class="btn btn-link" (click)="view(pedidos.id)">Visualizar</button>
                    <ul class="list-group" *ngIf="viwControl && pedidoId == pedidos.id" style="margin-top: 20px;">
                        <li class="list-group-item" aria-current="true" style=" background-color: #40407a; color: #fff; ">Produtos</li>
                        <li class="list-group-item" *ngFor="let dados of pedidos.pedidos;  ">{{ dados.titulo }}</li>                                               
                    </ul>
                    <div class="alert alert-primary" role="alert"  *ngIf="viwControl && pedidoId == pedidos.id">
                        {{ pedidos.menssagem }}
                    </div>               
                   
                </td>          
                     
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger" (click)="excluir(pedidos.id)" style="margin-left: 20px;">Excluir</button>
                </td>

               
                
            </tr>
        </tbody>
    </table>

    

</div>



