*{
    border: 0;
}
.section-home{
    display: flex;    
    margin-top: 30px;
    border: 0;
}

.section-home img {
    display: flex;
    place-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 200%;
}

.section-home h5{
    text-align: center;
} 

.section-home p{
    text-align: justify;
}


.section-middle{        
    margin-bottom: 20px;
}

.section-middle img {    
    align-items: flex-end;
    width: 550px;
    margin: auto;
    border-radius: 20px; 
    
}