<app-header></app-header>


<style>
    .card-title {
        text-align: center;
    }

    .card-text {
        text-align: justify;
    }
</style>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="imagem" alt="..." width="190" height="280">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">A Empresa </h5>
                <p class="card-text">&nbsp;&nbsp;&nbsp;Somos uma empresa de doces finos para sua festa, fundada em março
                    de 2018.</p>                    
                    <p>&nbsp;&nbsp;&nbsp;Trabalhamos com variedades de doces. Todos são feitos com produtos de qualidade,
                    de foma artesanal com muito amor e carinho! De modo que sua festa fique muito atraente e gostosa.</p>
                                
                <p>&nbsp;&nbsp;&nbsp; Entre e confira todos os nossos produtos!</p>

            </div>
        </div>
    </div>
</div>