<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #40407a;">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><strong style="font-size: 35px;"> ADMIN</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">           

                <li class="nav-item">
                    <a class="nav-link" routerLink="/produtoadmin">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cliente">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pedidos">Pedidos</a>
                </li>               
            </ul>
        </div>
    </div>
</nav>
<div class="subtitulo" style="box-shadow:  0 0 1em;">
    <P>Produtos artesanais feitos com todo amor e carinho!!! Experimente!!!</P>
</div>